<div class="cta-cards" *ngIf="is_content_loading">
    <p>loading content....</p>
</div>

<div class="cta-cards" *ngIf="!is_content_loading && offers && offers.length <= 0">
    <div class="no-data">
        <p>You don't have any offers data yet.</p>
    </div>
</div>

<div class="cta-cards" *ngIf="!is_content_loading && offers && offers.length > 0">

    <!--CTA CARD-->
    <div class="cta-card" *ngFor="let offer of offers; let i = index">
        <div class="float-left card-image">
            <div class="card-icon">
                <!-- <i class="fa fa-envelope"></i> -->
                <img [src]="offer?.media_icon">
                <span>{{ offer?.offer_type_name }}</span>
            </div>
            <div class="card-badge draft" *ngIf="offer?.status === 1">
                draft
            </div>
            <div class="card-badge approved" *ngIf="offer?.status === 2">
                approved
            </div>
            <div class="card-badge archived" *ngIf="offer?.status === 3">
                archived
            </div>
        </div>
        <div class="float-left card-details">
            <p class="title">{{ offer?.title }}</p>
            <p class="description">
                {{ offer?.cta }}
            </p>
            <div class="card-button">
                <span>Button: </span>
                {{ offer?.button_label }}
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="card-foot">
            <div class="card-feature float-left">
                <div class="btn-group dropdown">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="offer.show_feature = !offer.show_feature">
                        Features
                    </button>
                    <!-- <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action 1</a>
                        <a class="dropdown-item" href="#">Action 2</a>
                        <a class="dropdown-item" href="#">Action 3</a>
                    </div> -->
                </div>
            </div>
            <div class="card-settings float-right">
                <a href="javascript:void(0)" (click)="getDetails(i)"><i class="fa fa-pencil-alt"></i>&nbsp;</a>
            </div>
            <div class="clearfix"></div>
            <div class="feature-container" *ngIf="offer?.show_feature">
                <p *ngIf="offer?.features && offer?.features.length <= 0">
                    No data yet.
                </p>
                <table class="table table-sm" *ngIf="offer?.features && offer?.features.length > 0">
                    <thead>
                        <tr>
                            <th>Feature</th>
                            <th>Benefit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let offer_feature of offer?.features; let i = index">
                            <td>{{ offer_feature.feature }}</td>
                            <td>{{ offer_feature.benefits }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="addoffermodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Offer Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
            <form>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" [(ngModel)]="title" placeholder="Enter Title Here">
                    <div class="error-input" *ngIf="errors && errors['title']">
                        Title field is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="cta">CTA</label>
                    <input type="text" class="form-control" id="cta" name="cta" [(ngModel)]="cta" placeholder="Enter CTA Here">
                    <div class="error-input" *ngIf="errors && errors['cta']">
                        CTA field is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="button_label">Button</label>
                    <input type="text" class="form-control" id="button_label" name="button_label" [(ngModel)]="button_label" placeholder="Enter Button Name Here">
                    <div class="error-input" *ngIf="errors && errors['button_label']">
                        Button Label field is required
                    </div>
                </div>

                <div class="form-group">
                    <label>Type</label>
                </div>
                <div class="custom-control custom-radio" *ngFor="let type of types; let i = index">
                    <input type="radio" id="offer_type_id_{{ i }}" name="offer_type_id" [(ngModel)]="offer_type_id" [value]="type?.id" class="custom-control-input">
                    <label class="custom-control-label" for="offer_type_id_{{ i }}">{{ type?.name }}</label>
                </div>
                <br>

                <div class="form-group">
                    <label for="status">Status</label>
                    <select id="status" name="status" [(ngModel)]="status" class="form-control">
                        <option value="0" selected>Choose One</option>
                        <option value="1">Draft</option>
                        <option value="2">Approved</option>
                        <option value="3">Archived</option>
                    </select>
                    <div class="error-input" *ngIf="errors && errors['status']">
                        Status field is required
                    </div>
                </div>

                <hr>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-5">
                            <label>Feature</label>
                            <input type="text" class="form-control" id="offer_feature" name="offer_feature" placeholder="Enter Feature Here">
                        </div>
                        <div class="col-md-5">
                            <label>Benefit</label>
                            <input type="text" class="form-control" id="offer_benefit" name="offer_benefit" placeholder="Enter Benefit Here">
                        </div>
                        <div class="col-md-2">
                            <br>
                            <button type="button" class="btn btn-success btn-ursa-success" (click)="addFeature()" [disabled]="offer_features && offer_features.length >= 5"><i class="fa fa-plus-circle"></i>&nbsp;</button>
                        </div>
                    </div>
                </div>

                <div class="form-group" *ngIf="offer_features && offer_features.length > 0">
                    <table class="table table-sm">
                        <tbody>
                            <tr *ngFor="let offer_feature of offer_features; let i = index">
                                <td>{{ offer_feature.feature }}</td>
                                <td>{{ offer_feature.benefits }}</td>
                                <td><a href="javascript:void(0)" (click)="removeFeature(i)"><i class="fa fa-trash-alt"></i>&nbsp;</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-ursa-primary" (click)="create()">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editoffermodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Offer Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
            <form>
                <div class="form-group">
                    <label for="e_title">Title</label>
                    <input type="text" class="form-control" id="e_title" name="e_title" [(ngModel)]="e_title" placeholder="Enter Title Here">
                    <div class="error-input" *ngIf="errors && errors['e_title']">
                        Title field is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="e_cta">CTA</label>
                    <input type="text" class="form-control" id="e_cta" name="e_cta" [(ngModel)]="e_cta" placeholder="Enter CTA Here">
                    <div class="error-input" *ngIf="errors && errors['e_cta']">
                        CTA field is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="e_button_label">Button</label>
                    <input type="text" class="form-control" id="e_button_label" name="e_button_label" [(ngModel)]="e_button_label" placeholder="Enter Button Name Here">
                    <div class="error-input" *ngIf="errors && errors['e_button_label']">
                        Button Label field is required
                    </div>
                </div>

                <div class="form-group">
                    <label>Type</label>
                </div>
                <div class="custom-control custom-radio" *ngFor="let type of types; let i = index">
                    <input type="radio" id="e_offer_type_id_{{ i }}" name="e_offer_type_id" [(ngModel)]="e_offer_type_id" [value]="type?.id" class="custom-control-input">
                    <label class="custom-control-label" for="e_offer_type_id_{{ i }}">{{ type?.name }}</label>
                </div>
                <br>

                <div class="form-group">
                    <label for="e_status">Status</label>
                    <select id="e_status" name="e_status" [(ngModel)]="e_status" class="form-control">
                        <option value="0" selected>Choose One</option>
                        <option value="1">Draft</option>
                        <option value="2">Approved</option>
                        <option value="3">Archived</option>
                    </select>
                    <div class="error-input" *ngIf="errors && errors['status']">
                        Status field is required
                    </div>
                </div>

                <hr>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-5">
                            <label>Feature</label>
                            <input type="text" class="form-control" id="e_offer_feature" name="e_offer_feature" placeholder="Enter Feature Here">
                        </div>
                        <div class="col-md-5">
                            <label>Benefit</label>
                            <input type="text" class="form-control" id="e_offer_benefit" name="e_offer_benefit" placeholder="Enter Benefit Here">
                        </div>
                        <div class="col-md-2">
                            <br>
                            <button type="button" class="btn btn-success btn-ursa-success" (click)="addUpdateFeature()" [disabled]="offer_features && offer_features.length >= 5"><i class="fa fa-plus-circle"></i>&nbsp;</button>
                        </div>
                    </div>
                </div>

                <div class="form-group" *ngIf="offer_features && offer_features.length > 0">
                    <table class="table table-sm">
                        <tbody>
                            <tr *ngFor="let offer_feature of offer_features; let i = index">
                                <td>{{ offer_feature.feature }}</td>
                                <td>{{ offer_feature.benefits }}</td>
                                <td><a href="javascript:void(0)" (click)="removeFeature(i)"><i class="fa fa-trash-alt"></i>&nbsp;</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-ursa-danger" (click)="initDelete()">Delete</button>
                <button type="button" class="btn btn-primary btn-ursa-primary" (click)="update(offer_id)">Update</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteoffermodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Are you sure you want to delete this Offer?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-ursa-danger" (click)="delete(offer_id)">Delete</button>
                <button type="button" class="btn btn-default btn-ursa-default" (click)="closeDeleteModal()">Close</button>
            </div>
        </div>
    </div>
</div>