<h2 class="content-heading"><i class="fa fa-eye"></i> Imagery</h2>
<div class="content-description">
    Offers are to call-to-action. They invited your audience to engage through a progression of increasing interest or commitment. Offers establish the tone and structure of your value propositions in a clear and compelling manner.
</div>
<div class="clearfix"></div>
<div class="content ursa-imagery">

    <nav class="ursa-imagery-nav float-left">
        <ul>
            <li>
                <a href="#"><i class="fa fa-sliders-h"></i>&nbsp;</a>
            </li>
            <li>
                <a href="#">Moods</a>
            </li>
            <li class="active">
                <a href="#">Photos</a>
            </li>
            <li>
                <a href="#">Graphics</a>
            </li>
            <li>
                <a href="#">Typography</a>
            </li>
        </ul>
    </nav>

    <nav class="ursa-imagery-nav float-right">
        <ul>
            <li>
                <a href="#">Add Image <i class="fa fa-plus-circle"></i></a>
            </li>
        </ul>
    </nav>

    <div class="clearfix"></div>

    <div class="media-cards">

        <div class="media-card">
            <div class="media-image">
                <img src="../../../assets/images/sunrise.jpg">
            </div>
            <div class="media-details">
                <p class="title">Sunrise Contemplation</p>
                <p class="description">
                    Man sits on a picturesque hilltop comtemplating the sunrise
                </p>
            </div>
            <div class="media-type">Photo</div>
        </div>

        <div class="media-card">
            <div class="media-image">
                <img src="../../../assets/images/roadbike.jpg">
            </div>
            <div class="media-details">
                <p class="title">Sunrise Contemplation</p>
                <p class="description">
                    Man sits on a picturesque hilltop comtemplating the sunrise
                </p>
            </div>
            <div class="media-type">Photo</div>
        </div>

        <div class="media-card">
            <div class="media-image">
                <img src="../../../assets/images/flower.jpg">
            </div>
            <div class="media-details">
                <p class="title">Sunrise Contemplation</p>
                <p class="description">
                    Man sits on a picturesque hilltop comtemplating the sunrise
                </p>
            </div>
            <div class="media-type">Photo</div>
        </div>

        <div class="media-card">
            <div class="media-image">
                <img src="../../../assets/images/waterfalls.jpg">
            </div>
            <div class="media-details">
                <p class="title">Sunrise Contemplation</p>
                <p class="description">
                    Man sits on a picturesque hilltop comtemplating the sunrise
                </p>
            </div>
            <div class="media-type">Photo</div>
        </div>

    </div>

</div>