<h2 class="content-heading"><i class="fa fa-users"></i> Audience</h2>
<div class="content-description">
    Audience Personas are generalized representations of your brand's distinct target audience segments. The purpose of this section is to clarify who the brand primarily communicates to, and what they most need or care about in the simplest terms.
</div>
<div class="clearfix"></div>

<div class="content ursa-audience" *ngIf="!is_loading && personas && personas.length > 0">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist" [sortablejs]="personas" [sortablejsOptions]="options">
            <a *ngFor="let persona of personas" [routerLinkActive]="'active'" [routerLink]="['persona', persona?.id]" class="nav-item nav-link"  id="nav-1-tab" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="nav-1" aria-selected="true" [attr.data-personaid]="persona?.id">
                {{ persona?.first_name + ' ' + persona?.last_name }}
            </a>
        </div>
        <a *ngIf="personas && personas.length < 5" href="#" class="nav-add-tab" data-toggle="modal" data-target="#addpersonamodal">&nbsp;<i class="fa fa-plus-circle"></i></a>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <router-outlet></router-outlet>
    </div>
</div>

<div class="content ursa-audience" *ngIf="!is_loading && personas && personas.length <= 0">
    <div class="no-data">
        <p>You don't have any persona data yet. <a href="javascript:void(0)" data-toggle="modal" data-target="#addpersonamodal">Add One Now</a></p>
    </div>
</div>

<div class="content ursa-audience" *ngIf="is_loading">
    <div class="no-data">
        <p>Loading Personas...</p>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addpersonamodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Persona Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <form>
                    <div class="form-group">
                        <label>Media Icon *</label>
                        <div class="error-input" *ngIf="errors && errors['media_icon']">
                            Please select media icon
                        </div>
                        <!-- <button type="button" class="btn btn-sm btn-primary btn-ursa-primary">Select Media Icon</button>
                        <input type="hidden" [(ngModel)]="media_icon"> -->
                        <div class="media-icons" *ngIf="images && images.length > 0">
                            <label *ngFor="let image of images">
                                <input type="radio" name="media_icon" [(ngModel)]="media_icon" value="{{ image?.id }}">
                                <img [src]="image?.image" alt="">
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="persona_number">Persona Number *</label>
                        <input type="text" class="form-control" id="persona_number" name="persona_number" [(ngModel)]="persona_number" placeholder="Enter Persona Number Here" disabled>
                        <div class="error-input" *ngIf="errors && errors['persona_number']">
                            Persona Number is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="descriptor_id">Descriptor *</label>
                        <select class="form-control" id="descriptor_id" name="descriptor_id" [(ngModel)]="descriptor_id">
                            <option value="">Choose Descriptor</option>
                            <option *ngFor="let descriptor of descriptors" value="{{ descriptor?.id }}">{{ descriptor?.name }}</option>
                        </select>
                        <div class="error-input" *ngIf="errors && errors['descriptor_id']">
                            Descriptor field is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="role_id">Role *</label>
                        <select class="form-control" id="role_id" name="role_id" [(ngModel)]="role_id">
                            <option value="">Choose Role</option>
                            <option *ngFor="let role of roles" value="{{ role?.id }}">{{ role?.name }}</option>
                        </select>
                        <div class="error-input" *ngIf="errors && errors['role_id']">
                            Role field is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Primary Driver *</label>
                        <textarea class="form-control" id="description" name="description" [(ngModel)]="description" rows="5" placeholder="Enter Primary Driver Here"></textarea>
                        <div class="error-input" *ngIf="errors && errors['description']">
                            Primary Driver field is required
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-ursa-primary" (click)="create()">Save</button>
            </div>
        </div>
    </div>
</div>