<h2 class="content-heading"><i class="fa fa-seedling"></i> Seeds</h2>
<div class="content-description">
    Seeds are starting point for planning and developing content that is aligned with your brand strategy
</div>
<div class="clearfix"></div>
<div class="content ursa-seeds">

    <nav class="ursa-seeds-nav float-left">
        <ul>
            <li>
                <a href="#">All</a>
            </li>
            <li>
                <a href="#">Ideas</a>
            </li>
            <li class="active">
                <a href="#">Drafts</a>
            </li>
            <li>
                <a href="#">Approved</a>
            </li>
            <li>
                <a href="#">Scheduled</a>
            </li>
            <li>
                <a href="#">Published</a>
            </li>
        </ul>
    </nav>

    <nav class="ursa-seeds-nav float-right">
        <ul>
            <li>
                <a href="#">Add Seed <i class="fa fa-plus-circle"></i></a>
            </li>
        </ul>
    </nav>

    <div class="clearfix"></div>

    <div class="seed-cards">

        <!-- SEED CARD -->
        <div class="seed-card">
            <div class="seed-image">
                <img src="../../../assets/images/roadbike.jpg">
            </div>
            <div class="seed-details">
                <p class="title">How to live a life of purpose and ease.</p>
                <p class="subtitle">Format: <a href="#">How To</a></p>
                <p class="description">Summarizes some common obstacles that cause people to get stuck in their journey toward personal growth and self mastery</p>
            </div>
            <div class="seed-info">
                <div class="seed-badge">draft</div>
                <div class="seed-created">Feb 10, 2020</div>
            </div>
            <div class="clearfix"></div>
            <div class="seed-footer">
                <div class="seed-channels">
                    Channels: 
                    <a href="#">Guest Post, </a>
                    <a href="#">Social Media, </a>
                    <a href="#">Video, </a>
                    <a href="#">Podcast</a>
                </div>
                <div class="seed-edit">
                    <a href="#"><i class="fa fa-pencil-alt"></i>&nbsp;</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>

</div>