<h2 class="content-heading"><i class="fa fa-object-group"></i> Associations</h2>
<div class="content-description">
    Associations are cultural reference points that are relevant to the brand. They are not necessarily officially affiliated with the brand. Associations build credibility and create connections in the minds of your audience. They are useful as ingredients for planned content or ideas for developing new content.
</div>
<div class="clearfix"></div>
<div class="content ursa-associations">

    <nav class="ursa-associations-nav float-left">
        <ul>
            <li class="active">
                <a href="#">All</a>
            </li>
            <li>
                <a href="#">People</a>
            </li>
            <li>
                <a href="#">Organizations</a>
            </li>
            <li>
                <a href="#">Facts</a>
            </li>
            <li>
                <a href="#">Quotes</a>
            </li>
            <li>
                <a href="#">Subjects</a>
            </li>
        </ul>
    </nav>

    <nav class="ursa-associations-nav float-right">
        <ul>
            <li>
                <a href="#">Add Association <i class="fa fa-plus-circle"></i></a>
            </li>
        </ul>
    </nav>

    <div class="clearfix"></div>

    <div class="association-cards">

        <div class="card-heading">
            <div class="head-name">Name / Source</div>
            <div class="head-link">Website</div>
            <div class="head-type">Type</div>
        </div>

        <!-- ASSOCIATIONs CARD -->
        <div class="association-card">
            <div class="association-image">
                <i class="fa fa-building"></i>
            </div>
            <div class="association-details">
                <p class="title">The Academy of Light</p>
                <p class="description">The Academy of Light is an education and training center with campus locations in Europe, Australia, and...</p>
            </div>
            <div class="association-links">
                <a href="#">https://thelightacademy.edu</a>
                <span>DA: <span>38</span></span>
            </div>
            <div class="association-type">
                <span>reference</span>
            </div>
            <div class="association-settings">
                <a href="#"><i class="fa fa-cog"></i>&nbsp;</a>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>

</div>