<div class="ursa-messages-content" *ngIf="is_content_loading">
    <p>loading content...</p>
</div>

<div class="ursa-messages-content" *ngIf="!is_content_loading">
    <p class="title">{{ message?.type.name }}</p>
    <p class="word-counter">{{ max_words }} words or less</p>
    <span class="clearfix"></span>

    <div class="ursa-message-slider">
        <p *ngIf="message && !is_list">{{ message?.messages[0].message }}</p>
        <ul *ngIf="message && message?.messages.length > 0 && is_list">
            <li *ngFor="let message of message?.messages">{{ message?.message }}</li>
        </ul>
        <p *ngIf="message === null">There is no message yet on this type.</p>
    </div>

    <!-- <div class="ursa-message-arrows">
        <a *ngIf="message?.prev" href="javascript:void(0)" class="left-arr" [routerLink]="['/messages/type', message?.type.id, 'details', message?.prev]">
            <i class="fa fa-chevron-circle-left"></i>
        </a>
        <a *ngIf="message?.next" href="javascript:void(0)" class="right-arr" [routerLink]="['/messages/type', message?.type.id, 'details', message?.next]">
            <i class="fa fa-chevron-circle-right"></i>
        </a>
    </div> -->

    <div class="ursa-messages-foot">
        <a href="javascript:void(0)" class="foot-help" data-toggle="modal" data-target="#messagehelpmodal">
            <i class="fa fa-question-circle"></i>&nbsp;
        </a>
        <a href="javascript:void(0)" class="foot-edit" data-toggle="modal" data-target="#editmessagemodal">
            <i class="fa fa-pencil-alt"></i>&nbsp;
        </a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editmessagemodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Message Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <app-message-type-note [typeid]="message_type"></app-message-type-note>

                <form *ngIf="!is_list">
                    <div class="form-group">
                        <label for="message_content">Message</label>
                        <p class="form-word-counter">{{ message?.word_count }} of {{ max_words }} words</p>
                        <textarea class="form-control" id="message_content" name="message_content" [(ngModel)]="message_content" (keydown)="updateWordCount($event)" rows="5" placeholder="Enter Message Here"></textarea>
                    </div>
                </form>

                <form *ngIf="is_list">
                    <div class="form-group" *ngFor="let message of messages; let i = index">
                        <!-- <label for="message_content" *ngIf="i == 0">Message</label> -->
                        <!-- <p class="form-word-counter">{{ message?.word_count }} of {{ max_words }} words</p> -->
                        <input type="text" class="form-control input-text" name="list_message_content" value="{{ message?.message }}" (keydown)="updateWordCount($event)" placeholder="Enter Message Here">
                        <a href="javascript:void(0)" class="input-remove" (click)="deleteMessage(message?.id, i)"><i class="fa fa-trash-alt"></i>&nbsp;</a>    
                        <span class="clearfix"></span>
                    </div>
                    <div class="form-group" *ngFor="let input_count of input_counts; let i = index">
                        <!-- <p class="form-word-counter">{{ message?.word_count }} of {{ max_words }} words</p> -->
                        <input type="text" class="form-control input-text" name="list_message_content" value="" (keydown)="updateWordCount($event)" placeholder="Enter Message Here">
                        <a href="javascript:void(0)" class="input-remove" (click)="deleteInput(i)"><i class="fa fa-trash-alt"></i>&nbsp;</a>
                        <span class="clearfix"></span>
                    </div>
                    <div class="form-group" *ngIf="remaining !== 0">
                        <a href="javascript:void(0)" (click)="addRow()"><i class="fa fa-plus-circle"></i>&nbsp;</a>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-ursa-primary" *ngIf="!is_list" (click)="update()">Update</button>
                <button type="button" class="btn btn-primary btn-ursa-primary" *ngIf="is_list" (click)="updateList()">Update</button>
            </div>
        </div>
    </div>
</div>

<app-message-type-help-modal [typeid]="message_type"></app-message-type-help-modal>