<h2 class="content-heading"><i class="fa fa-check-circle"></i> Credentials</h2>
<div class="content-description">
    Credentials are the building blocks of trust. They increase the credibility of your brand within the mind of your audience, and help overcome reservations during the decision moments and touchpoints.
</div>
<div class="clearfix"></div>
<div class="content ursa-credentials">

    <nav class="ursa-credentials-nav float-left">
        <ul>
            <li>
                <a href="#"><i class="fa fa-sliders-h"></i>&nbsp;</a>
            </li>
            <li class="active">
                <a href="#">All</a>
            </li>
            <li>
                <a href="#">Awards</a>
            </li>
            <li>
                <a href="#">Certifications</a>
            </li>
            <li>
                <a href="#">Reviews</a>
            </li>
            <li>
                <a href="#">Press</a>
            </li>
            <li>
                <a href="#">Seals</a>
            </li>
        </ul>
    </nav>

    <nav class="ursa-credentials-nav float-right">
        <ul>
            <li>
                <a href="#">Add Credential <i class="fa fa-plus-circle"></i></a>
            </li>
        </ul>
    </nav>

    <div class="clearfix"></div>

    <div class="credentials-cards">

        <!-- CREDENTIALS CARD -->
        <div class="credentials-card">
            <div class="card-image">
                <img src="../../../assets/images/credential-image.png">
            </div>
            <div class="card-details">
                <p class="title">2022 Peace Award</p>
                <p class="subtitle">The Global Peace Foundation</p>
                <p class="description">
                    The Peace Society recognizes leader and teams around the world who are working to advance sustainable solutions to pressing global problems. <a href="#">More <i class="fa fa-chevron-right"></i></a>
                </p>
            </div>
            <div class="card-foot">
                <a href="#" class="credential-open"><i class="fa fa-external-link-alt"></i>&nbsp;</a>
                <a href="#" class="credential-edit"><i class="fa fa-pencil-alt"></i>&nbsp;</a>
                <span class="clearfix"></span>
            </div>
        </div>
        
        <div class="clearfix"></div>
        
    </div>
</div>