<!-- Modal Persona Help -->
<div class="modal fade help-modal" id="personahelpmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Audience</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <p>The audience section helps define and anchor the defining characteristics of your audience. This is valuable for aligning strategic thinking within the organization, and creating effective communications and experiences that are tuned to the motivating influences of your target market.</p>
                <p>Audience information is organized around one or more Personas. Personas are fictional, generalized representations of a given audience segment. Each persona can be thought of as a composite sketch of your ideal customer or member.</p>
                <p>Personas help content creators, marketers, and leadership improve the way the brand communicates with, relates to, and meets the needs of your audience.</p>
                <p>As a general rule, it is best to have the fewest number of personas needed to represent your target audience. A good starting point is to ask, "What are the unique motives a given customer or member has for seeking out our offering?" If a group shares a motive in common, but different demographic data, it is usually a good idea to combine them into one persona rather than creating separate personas. Fewer personas help focus thinking and action. Of course you can always add additional personas later if needed.</p>
                <p>Personas are described by a two-word name, where the first word is an adjective, and the second word is a role, e.g. "Frugal Mom", "Eco-Conscious Homeowner", "Road-Weary Manager".</p> 
                <p>Each Persona is further defined by a Key Concern. The Key Concern should concisely describe the overall outcome or condition being sought, rather than the means for achieving that outcome. For example, "Overcome anxiety and depression" rather than "Find a therapist".</p>

            </div>
        </div>
    </div>
</div>

<!-- Modal Demographic Help -->
<div class="modal fade help-modal" id="demographichelpmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Demographics</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <p>The Demographics section identifies the persona along four fundamental attributes - Gender, Age, Income, and Education. The values of each attribute can be based on detailed research, an educated guess, or some combination. Each attribute is represented by a number between 0 and 100.</p>
                <p><strong>Gender</strong> - indicates the median gender of the segment represented by the persona, where a value of 0 means all male, 50 means an equal mix of male and female, and 100 means all female.</p>
                <p><strong>Age</strong> - indicates the median age in actual years, so a value of 50 means the persona is 50 years of age. In other words, the approximate median age of the segment represented is 50.</p>
                <p><strong>Income</strong> - indicates the approximate income of the persona as a percentage, where 0 means unemployed and 100 means the very highest income bracket within the relevant population.</p>
                <p><strong>Technicality</strong> - indicates the approximate level of education of the persona, where 0 means no education, 50 means some high school, and 100 means multiple post-graduate degrees.</p>

            </div>
        </div>
    </div>
</div>

<!-- Modal Psychology Help -->
<div class="modal fade help-modal" id="psychologyhelpmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Psychographics</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <p>This section describes the general psychology or "interiority" of the persona along four attributes - Needs, Values, Identity, and Technicality. The values of each attribute can be determined based on detailed research, an educated guess, or some combination. Each attribute is represented by a number between 0 and 100.</p>
                <p><strong>Needs</strong> - approximates the dominant life motivation of the persona, loosely based on Abraham Maslow's hierarchy of needs, where 0 represents basic physiological needs, 50 represents love/belonging, and 100 represents self-transcendence. Can be roughly understood as answering the question, "What compels me?"</p>
                <p><strong>Values</strong> - indicates the persona's developmental stage in terms of values or worldview, where 0 represents pure survival drive, 50 represents a modern value system, and 100 represents an integral system. Based on the research of psychologist Clare Graves and popularized by Chris Cowan and Don Beck in the book Spiral Dynamics, can be roughly understood as answering the question, "How do I think and prioritize my life choices?"</p>
                <p><strong>Identity</strong> - approximates the persona's frame of self identification, based on Jane Loevinger's stages of ego development, and Suzanne Cook-Greuter's model of self development. On this scale, a value of 0 represents the pre-conceptual Impulsive Self, 50 represents the Conscientious Self, and 100 represents the Transpersonal Self. Can be roughly understood to answer the question, "How do I see myself?"</p>
                <p><strong>Education</strong> - approximates the persona's level of comfort and proficiency with technology, where a value of 0 represents extreme fear or aversion to any form of technology, 50 represents average comfort and ability such as basic use of email and web browsing, and 100 represents advanced engineering capacity.</p>

            </div>
        </div>
    </div>
</div>

<!-- Modal Desire Help -->
<div class="modal fade help-modal" id="desirehelpmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Desires</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <p>In the context of your Brand Strategy Framework, Desires can be thought of as the means or methods by which the persona intends to satisfy their Key Concern.</p>
                <p>For example, suppose the persona's Key Concern is "Find a safe and comfortable place to live". In this case, Desires may include "See available properties that meet my criteria", or "Contact a real estate agent that can help find me a property".</p>

            </div>
        </div>
    </div>
</div>

<!-- Modal Pain Help -->
<div class="modal fade help-modal" id="painhelpmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Pains</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <p>Pains can be thought of as the immediate obstacles that prevent the persona from satisfying their Key Concern. They can be physical, logistical, psychological, or emotional in nature.</p>
                <p>For example, suppose a persona's Key Concern is "maintain a healthy lifestyle". Pains might be "I'm too busy to prepare healthy meals", or "I can't seem to stay motivated with my exercise routine".</p>

            </div>
        </div>
    </div>
</div>

<!-- Modal Assumption Help -->
<div class="modal fade help-modal" id="assumptionhelpmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Assumptions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <p>Assumptions are beliefs or preconceptions held by the persona, whether positive or negative, in relation to possible strategies to satisfy their Key Concern.</p>
                <p>For example, suppose the persona's Key Concern is "Lead my team to collaborate more effectively". Some Assumptions in this case might be, "The more training, the better the results" or "It's up to the leader to make the difficult decisions".</p>
                <p>Taking time to think through and identify common assumptions can help your organization identify content, resources, or experiences that will be be valuable to the persona, thus strengthening your brand strategy.</p>

            </div>
        </div>
    </div>
</div>

<!-- Modal Assumption Help -->
<div class="modal fade help-modal" id="keywordhelpmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Keyword Groups</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <p>Keyword Groups describe broad categories of keywords that are likely to be used by the persona when searching for information relevant to their Key Concern. They are meant to serve as a starting point and idea generators for more comprehensive keyword research as part of a subsequent search engine optimization campaign.</p>
                <p>This initial understanding of the persona's keyword groups is highly valuable both for developing an effective brand strategy, and mapping out the contours of a content roadmap.</p>
                <p>The best way to define Keyword Groups is to take the perspective of the persona and make best guesses as to the kinds of search terms you would enter in order to find information and resources that would help you to satisfy the Key Concern.</p>

            </div>
        </div>
    </div>
</div>