<!-- Message Help Modal -->
<div class="modal fade help-modal" id="messagehelpmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title" *ngIf="typeid === 1">Problem</h5>
                <h5 class="modal-title" *ngIf="typeid === 2">Mission</h5>
                <h5 class="modal-title" *ngIf="typeid === 3">Vision</h5>
                <h5 class="modal-title" *ngIf="typeid === 4">Approach</h5>
                <h5 class="modal-title" *ngIf="typeid === 5">Promise</h5>
                <h5 class="modal-title" *ngIf="typeid === 6">Claims</h5>
                <h5 class="modal-title" *ngIf="typeid === 7">Differentiators</h5>
                <h5 class="modal-title" *ngIf="typeid === 8">About</h5>
                <h5 class="modal-title" *ngIf="typeid === 9">Taglines</h5>


                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" *ngIf="typeid === 1">
                <p>The Problem answers the question, “What is the important need, pain, or concern in the world today, that your brand is specifically addressing?” The problem should be something that is deeply and widely understood by your audience.</p>
                <p>The wording should be as clear and concise as possible.</p>
            </div>

            <div class="modal-body" *ngIf="typeid === 2">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            <div class="modal-body" *ngIf="typeid === 3">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            <div class="modal-body" *ngIf="typeid === 4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            <div class="modal-body" *ngIf="typeid === 5">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            <div class="modal-body" *ngIf="typeid === 6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            <div class="modal-body" *ngIf="typeid === 7">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            <div class="modal-body" *ngIf="typeid === 8">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            <div class="modal-body" *ngIf="typeid === 9">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

        </div>
    </div>
</div>