body {
    background: #f7f7f7;
    color: #6b6b6b;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}

a {
    color: #6b6b6b;
    font-family: 'Roboto', sans-serif;
}

/*
* Header
*/
.ursa-topbar {
    background: url(../images/ursaweb.jpg) center center;
    background-size: cover;
    padding: 0 0 5px 0;
}

.ursa-topbar a > img {
    width: 100px;
}

.ursa-navbar {
    margin: 25px 0;
}

.ursa-navbar li.nav-item {
    padding: 0px 30px;
    border-right: 1px solid #c3c3c3;
}
.ursa-navbar li:last-child.nav-item {
    border: none;
}

.navbar-brand.company-logo {
    width: 230px;
    text-align: center;
}

.navbar-brand.company-logo > img {
    width: 120px;
}

.navbar-nav li.app-name {
    font-size: 20px;
}

/*
* Sidebar
*/
.ursa-sidebar-left {
    width: 230px;
    float: left;
}
.ursa-sidebar-left .sidenavs li {
    list-style: none;
    background: #fff;
    border-bottom: 1px solid #f9f9f9;
    position: relative;
}
.ursa-sidebar-left .sidenavs li a {
    display: block;
    text-decoration: none;
    padding: 12px 30px 12px 20px;
    color: #a6a6a6;
}
.ursa-sidebar-left .sidenavs li a > i {
    margin-right: 10px;
}
.ursa-sidebar-left .sidenavs li:hover,
.ursa-sidebar-left .sidenavs li.active {
    background: #afb3b6;
}
.ursa-sidebar-left .sidenavs li:hover:after,
.ursa-sidebar-left .sidenavs li.active:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(175, 179, 182, 0);
	border-left-color: #afb3b6;
	border-width: 10px;
	margin-top: -10px;
}
.ursa-sidebar-left .sidenavs li:hover a,
.ursa-sidebar-left .sidenavs li.active a {
    color: #fff;
}

/*
* Audience
*/
.ursa-contentbox {
    width: 840px;
    background: #afb3b6;
    height: auto;
    min-height: 500px;
    float: left;
    margin-left: 15px;
    border-radius: 4px;
    padding: 30px 10px;
}
.ursa-contentbox .content-heading {
    color: #fff;
    float: left;
    width: 300px;
    margin-left: 20px;
}
.ursa-contentbox .content-description {
    color: #fff;
    float: right;
    width: 450px;
    font-size: 12px;
    margin-right: 20px;
}
.ursa-contentbox .content {
    margin: 30px 10px;
}
.ursa-contentbox .content .nav-tabs {
    border: none;
}
.ursa-contentbox .content nav {
    position: relative;
}
.ursa-contentbox .content nav a.nav-add-tab {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    margin: 8px 5px 0 0;
}
.ursa-contentbox .content nav a.nav-add-tab > i {
    font-size: 16px;
    margin-top: 1px;
    float: right;
    margin-left: 5px;
}
.ursa-contentbox .content .nav-tabs .nav-link {
    background: #d7d7d7;
    margin: 0 10px 0 0;
    border: none;
    position: relative;
}
.ursa-contentbox .content .nav-tabs .nav-link:hover {
    color: #6b6b6b;
    background: #fff;
}
.ursa-contentbox .content .nav-tabs .nav-link.active {
    background: #fff;
}
.ursa-contentbox .content .nav-tabs .nav-link.active button.ursa-tab-remove {
    display: initial;
}
.ursa-contentbox .content .tab-content {
    background: #fff;
    border: none;
    padding: 20px;
    min-height: 530px;
    position: relative;
}
.ursa-contentbox .content .tab-content .persona-details,
.ursa-contentbox .content .tab-content .demographics,
.ursa-contentbox .content .tab-content .pain,
.ursa-contentbox .content .tab-content .assumptions {
    float: left;
    /* border: 1px solid #c6c6c6; */
    /* margin: 0 0 10px 10px; */
}
.ursa-contentbox .content .tab-content .persona-details {
    position: relative;
}
.ursa-contentbox .content .tab-content .demographics .demographics-content,
.ursa-contentbox .content .tab-content .demographics .psychology-content,
.ursa-contentbox .content .tab-content .pain .pain-content,
.ursa-contentbox .content .tab-content .pain .desire-content,
.ursa-contentbox .content .tab-content .assumptions .assumptions-content,
.ursa-contentbox .content .tab-content .assumptions .keywords-content {
    position: relative;
}
.ursa-contentbox .content .tab-content .persona-details button.help-button {
    margin: 0  30px 0 0;
}
.ursa-contentbox .content .tab-content .demographics .psychology-content button.help-button,
.ursa-contentbox .content .tab-content .demographics .demographics-content button.help-button {
    margin: -5px 3px 0 0;
}
.ursa-contentbox .content .tab-content .pain .pain-content button.help-button,
.ursa-contentbox .content .tab-content .pain .desire-content button.help-button {
    margin: -5px 12px 0 0;
}
.ursa-contentbox .content .tab-content .assumptions .assumptions-content button.help-button {
    margin: 0 0 0 0;
}
.ursa-contentbox .content .tab-content .assumptions .keywords-content button.help-button {
    margin: 0 0 0 0;
}

/*
* Personas
*/
.ursa-contentbox .content .tab-content .persona-details {
    width: 50%;
    height: auto;
    margin-left: 0;
}
.ursa-contentbox .content .tab-content .persona-details img.persona-photo {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    border: 1px solid #c6c6c6;
    float: left;
    margin: 10px 20px 0 10px;
}
.ursa-contentbox .content .tab-content .persona-details p.personal-label {
    color: #838383;
    font-size: 12px;
    margin: 0;
    display: block;
}
.ursa-contentbox .content .tab-content .persona-details p.personal-name {
    color: #252121;
    display: block;
    margin: 0;
}
.ursa-contentbox .content a.edit-cmd {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    text-decoration: none;
}
.ursa-contentbox .content a.edit-cmd:focus,
.ursa-contentbox .content a.edit-cmd:active {
    outline: none !important;
    box-shadow: none;
}
.ursa-contentbox .content .tab-content .persona-details p.personal-description {
    font-size: 12px;
    float: left;
    width: 200px;
    margin: 15px 0 0 0;
    color: #838383;
    word-wrap: break-word;
}
.ursa-contentbox .content .tab-content .persona-details p.personal-description strong {
    color: #252121;
}

.ursa-contentbox .content .tab-content p.title {
    color: #a9a9a9;
    margin: 5px 0 0 0;
    font-size: 12px;
}

/*
* Demographics
*/
.ursa-contentbox .content .tab-content .demographics {
    width: 50%;
    height: 200px;
}
.ursa-contentbox .content .tab-content .demographics .demographics-content {
    margin-bottom: 20px;
}
.ursa-contentbox .content .tab-content .demographics .demographics-content a.save-cmd-right,
.ursa-contentbox .content .tab-content .demographics .psychology-content a.save-cmd-right {
    float: right;
    margin: -25px 30px 0 0;
    text-decoration: none;
}
.ursa-contentbox .content .tab-content .demographics .sliderbars {
    background: #f2f2f2;
    border: 1px solid #d4d5d6;
    border-radius: 4px;
    padding: 8px 10px 5px 10px;
}
.ursa-contentbox .content .tab-content .demographics .sliderbars label {
    font-size: 10px;
    display: inline-block;
    text-align: center;
    margin: 0 10px;
}
.ursa-contentbox .content .tab-content .demographics .sliderbars label > input.slider {
    display: block;
    width: 65px;
    margin-top: 2px;
    background: #d3d3d3;
    outline: none;
}
.ursa-contentbox .content .tab-content .demographics .sliderbars label > input.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}
.ursa-contentbox .content .tab-content .demographics .sliderbars label > input.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

/*
* Pain
*/
.ursa-contentbox .content .tab-content .pain {
    width: 50%;
    height: 200px;
    margin-left: 0;
    margin-bottom: 0;
}
.ursa-contentbox .content .tab-content .pain .pain-content {
    margin-bottom: 20px;
}
.ursa-contentbox .content .tab-content .pain input.tags {

}
.ursa-contentbox .content .tab-content .pain .bootstrap-tagsinput {
    width: inherit;
    height: 70px;
}

/*
* Assumptions
*/
.ursa-contentbox .content .tab-content .assumptions {
    width: 50%;
    height: 200px;
    margin-bottom: 0;
}
.ursa-contentbox .content .tab-content .assumptions .assumptions-content,
.ursa-contentbox .content .tab-content .assumptions .keywords-content {
    float: left;
    /* margin-right: 20px; */
    margin-bottom: 15px;
}
.ursa-contentbox .content .tab-content .assumptions .keywords-content {
    margin: 0;
}
.ursa-contentbox .content .tab-content .assumptions .bootstrap-tagsinput {
    height: 178px;
    width: 200px;
}

.ursa-contentbox .content .tab-content .pain a.save-cmd-right,
.ursa-contentbox .content .tab-content .desire a.save-cmd-right,
.ursa-contentbox .content .tab-content .assumptions a.save-cmd-right,
.ursa-contentbox .content .tab-content .keywords a.save-cmd-right {
    float: right;
    margin: -25px 30px 0 0;
    text-decoration: none;
}
.ursa-contentbox .content .tab-content .pain a.save-cmd-right,
.ursa-contentbox .content .tab-content .desire a.save-cmd-right {
    margin-right: 35px;
}

/*
* Messages
*/
.ursa-messages {
    background: #fff;
    padding: 30px 10px;
    border-radius: 4px;
}
.ursa-messages nav.ursa-message-nav {
    text-align: center;
}
.ursa-messages nav.ursa-message-nav ul {
    padding: 0;
    margin: 0;
}
.ursa-messages nav.ursa-message-nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
    border-right: 1px solid #c9c9c9;
}
.ursa-messages nav.ursa-message-nav ul li:hover a,
.ursa-messages nav.ursa-message-nav ul li.active a {
    color: #0084ff;
}
.ursa-messages nav.ursa-message-nav ul li:last-child {
    border: none;
}
.ursa-messages nav.ursa-message-nav ul li a {   
    text-decoration: none;
    display: block;
}
.ursa-messages nav.ursa-message-nav ul li a:hover {
    color: #0084ff;
}
.ursa-messages .ursa-messages-content {
    width: 600px;
    margin: auto;
    margin-top: 40px;
    position: relative;
}
.ursa-messages .ursa-messages-content p.title {
    float: left;
    margin: 0;
}
.ursa-messages .ursa-messages-content p.word-counter {
    float: right;
    color: #c6c6c6;
    font-size: 12px;
    margin: 0;
}
p.form-word-counter {
    float: right;
    font-size: 12px;
    color: #a6a6a6;
    margin-bottom: 0;
}
.ursa-messages .ursa-messages-content .ursa-message-slider {
    background: #f5f5f5;
    border-radius: 4px;
    padding: 50px;
    font-size: 14px;
    border: 1px solid #c2c2c2;
}
.ursa-messages .ursa-messages-content .ursa-message-slider p {
    white-space: pre-wrap;
    text-align: center;
}
.ursa-messages .ursa-messages-content .ursa-message-slider ul li {
    white-space: pre-wrap;
    text-align: left;
}
.ursa-messages .ursa-messages-content .ursa-message-arrows {
    position: relative;
    top: -130px;
}
.ursa-messages .ursa-messages-content .ursa-message-arrows a.left-arr {
    position: absolute;
    left: 0;
    font-size: 24px;
    color: #6496cd;
    margin-left: -20px;
}
.ursa-messages .ursa-messages-content .ursa-message-arrows a.right-arr {
    position: absolute;
    right: 0;
    font-size: 24px;
    color: #6496cd;
    margin-right: -20px;
}

.ursa-messages .ursa-messages-foot {
    width: 600px;
    margin: auto;
    position: relative;
    margin-bottom: 40px;
}
.ursa-messages .ursa-messages-foot a {
    text-decoration: none;
}
.ursa-messages .ursa-messages-foot .foot-help {
    position: absolute;
    top: 0;
    left: 0;
    color: #c4c4c4;
    margin: 5px 0 0 2px;
}
.ursa-messages .ursa-messages-foot .foot-edit {
    position: absolute;
    top: 0;
    right: 0;
    color: #c4c4c4;
    margin: 5px 2px 0 0;
}

/*
* Offers
*/
.ursa-offers {
    background: #ebebeb;
    padding: 30px 10px;
    border-radius: 4px;
}
.ursa-offers .ursa-offers-nav.float-left {
    margin-bottom: 20px;
}
.ursa-offers .ursa-offers-nav.float-left ul {
    padding: 0;
    margin: 0;
}
.ursa-offers .ursa-offers-nav.float-left ul li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
    border-right: 1px solid #c9c9c9;
}
.ursa-offers .ursa-offers-nav.float-left ul li:last-child {
    border: none;
}
.ursa-offers .ursa-offers-nav.float-left ul li:hover a,
.ursa-offers .ursa-offers-nav.float-left ul li.active a,
.ursa-offers .ursa-offers-nav.float-right ul li:hover a,
.ursa-offers .ursa-offers-nav.float-right ul li.active a {
    color: #0084ff;
}
.ursa-offers .ursa-offers-nav.float-left ul li a {   
    text-decoration: none;
    display: block;
}
.ursa-offers .ursa-offers-nav.float-left ul li a:hover {
    color: #0084ff;
}
.ursa-offers .ursa-offers-nav.float-right ul {
    padding: 0;
    margin: 0 30px 0 0;
}
.ursa-offers .ursa-offers-nav.float-right ul li {
    list-style: none;
}
.ursa-offers .ursa-offers-nav.float-right ul li a {
    font-size: 12px;
    text-decoration: none;
}
.ursa-offers .ursa-offers-nav.float-right ul li a > i {
    float: left;
    margin-top: 5px;
    font-size: 16px;
    padding-right: 5px;
}
.ursa-offers .cta-cards .cta-card {
    background: #fff;
    width: 357px;
    display: inline-block;
    margin: 10px 0px 10px 20px;
    border-radius: 4px;
    border-bottom: 1px solid #b8b8b8;
}
.ursa-offers .cta-cards .cta-card .card-image {
    width: 100px;
    margin: 15px;
}
.ursa-offers .cta-cards .cta-card .card-image .card-icon {
    color: #fff;
    text-align: center;
    background: #3c87cc;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}
.ursa-offers .cta-cards .cta-card .card-image .card-icon > i {
    font-size: 30px;
}
.ursa-offers .cta-cards .cta-card .card-image .card-icon > img {
    width: 40px;
    filter: invert(100%) brightness(2);
}
.ursa-offers .cta-cards .cta-card .card-image .card-icon > span {
    font-size: 11px;
    display: block;
    text-transform: uppercase;
}
.ursa-offers .cta-cards .cta-card .card-image .card-badge {
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 11px;
    padding: 5px 0 3px 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
.ursa-offers .cta-cards .cta-card .card-image .card-badge.draft {
    background: #c3c3c3;   
}
.ursa-offers .cta-cards .cta-card .card-image .card-badge.approved {
    background: #30a64a;   
}
.ursa-offers .cta-cards .cta-card .card-image .card-badge.archived {
    background: #ffc107;   
}
.ursa-offers .cta-cards .cta-card .float-left.card-details {
    width: 220px;
}
.ursa-offers .cta-cards .cta-card .float-left.card-details p.title {
    font-size: 18px;
    margin: 15px 0 5px 0;
}
.ursa-offers .cta-cards .cta-card .float-left.card-details p.description {
    font-size: 12px;
    color: #797979;
}
.ursa-offers .cta-cards .cta-card .float-left.card-details .card-button {
    font-size: 12px;
}
.ursa-offers .cta-cards .cta-card .float-left.card-details .card-button > span {
    color: #c3c3c3;
}
.ursa-offers .cta-cards .cta-card .card-foot {
    background: #f3f3f3;
    border-radius: 4px;
    padding: 2px 0;
}
.ursa-offers .cta-cards .cta-card .card-foot .card-feature button {
    background: none;
    border: none;
    color: #b9b9b9;
    font-size: 10px;
    outline: none !important;
    box-shadow: none;
}
.ursa-offers .cta-cards .cta-card .card-foot .card-feature button:focus,
.ursa-offers .cta-cards .cta-card .card-foot .card-feature button:active {
    outline: none !important;
    box-shadow: none;
}
.ursa-offers .cta-cards .cta-card .card-foot .card-feature .dropdown-menu {
    background: #f3f3f3;
    margin-top: -2px;
}
.ursa-offers .cta-cards .cta-card .card-foot .card-feature .dropdown-menu a.dropdown-item {
    font-size: 10px;
}
.ursa-offers .cta-cards .cta-card .card-foot .card-settings {
    margin: 4px 5px 0 0;
}
.ursa-offers .cta-cards .cta-card .card-foot .card-settings a {
    color: #b9b9b9;
}

/*
* Imagery
*/
.ursa-imagery {
    background: #ebebeb;
    padding: 30px 10px;
    border-radius: 4px;
}
.ursa-imagery .ursa-imagery-nav.float-left {
    margin-bottom: 20px;
}
.ursa-imagery .ursa-imagery-nav.float-left ul {
    padding: 0;
    margin: 0;
}
.ursa-imagery .ursa-imagery-nav.float-left ul li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
    border-right: 1px solid #c9c9c9;
}
.ursa-imagery .ursa-imagery-nav.float-left ul li:first-child {
    border: none;
}
.ursa-imagery .ursa-imagery-nav.float-left ul li:last-child {
    border: none;
}
.ursa-imagery .ursa-imagery-nav.float-left ul li:hover a,
.ursa-imagery .ursa-imagery-nav.float-left ul li.active a,
.ursa-imagery .ursa-imagery-nav.float-right ul li:hover a,
.ursa-imagery .ursa-imagery-nav.float-right ul li.active a {
    color: #0084ff;
}
.ursa-imagery .ursa-imagery-nav.float-left ul li a {   
    text-decoration: none;
    display: block;
}
.ursa-imagery .ursa-imagery-nav.float-left ul li a:hover {
    color: #0084ff;
}
.ursa-imagery .ursa-imagery-nav.float-right ul {
    padding: 0;
    margin: 0 30px 0 0;
}
.ursa-imagery .ursa-imagery-nav.float-right ul li {
    list-style: none;
}
.ursa-imagery .ursa-imagery-nav.float-right ul li a {
    font-size: 12px;
    text-decoration: none;
}
.ursa-imagery .ursa-imagery-nav.float-right ul li a > i {
    float: right;
    margin-top: 5px;
    font-size: 16px;
    padding-left: 5px;
}
.ursa-imagery .media-cards {
    padding: 20px;
}
.ursa-imagery .media-cards .media-card {
    width: 173px;
    background: #838383;
    border-radius: 4px;
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 15px;
}
.ursa-imagery .media-cards .media-card:nth-child(4n) {
    margin-right: 0;
}
.ursa-imagery .media-cards .media-card .media-image {
    width: inherit;
    height: 150px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    text-align: center;
}
.ursa-imagery .media-cards .media-card .media-image img {
    width: 250px;
}
.ursa-imagery .media-cards .media-card .media-details {
    padding: 10px;
    font-size: 12px;
}
.ursa-imagery .media-cards .media-card .media-details p.title {
    color: #fdfdfd;
    margin: 0 0 10px 0;
}
.ursa-imagery .media-cards .media-card .media-details p.description {
    color: #b7b7b7;
    margin: 0 0 15px 0;
}
.ursa-imagery .media-cards .media-card .media-type {
    padding: 0 0 10px 10px;
    color: #fafafa;
    font-size: 11px;
    text-transform: uppercase;
}

/*
* Seeds
*/
.ursa-seeds {
    background: #ebebeb;
    padding: 30px 10px;
    border-radius: 4px;
}
.ursa-seeds .ursa-seeds-nav.float-left {
    margin-bottom: 20px;
}
.ursa-seeds .ursa-seeds-nav.float-left ul {
    padding: 0;
    margin: 0;
}
.ursa-seeds .ursa-seeds-nav.float-left ul li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
    border-right: 1px solid #c9c9c9;
}
.ursa-seeds .ursa-seeds-nav.float-left ul li:first-child {
    border: none;
}
.ursa-seeds .ursa-seeds-nav.float-left ul li:last-child {
    border: none;
}
.ursa-seeds .ursa-seeds-nav.float-left ul li:hover a,
.ursa-seeds .ursa-seeds-nav.float-left ul li.active a,
.ursa-seeds .ursa-seeds-nav.float-right ul li:hover a,
.ursa-seeds .ursa-seeds-nav.float-right ul li.active a {
    color: #0084ff;
}
.ursa-seeds .ursa-seeds-nav.float-left ul li a {   
    text-decoration: none;
    display: block;
}
.ursa-seeds .ursa-seeds-nav.float-left ul li a:hover {
    color: #0084ff;
}
.ursa-seeds .ursa-seeds-nav.float-right ul {
    padding: 0;
    margin: 0 30px 0 0;
}
.ursa-seeds .ursa-seeds-nav.float-right ul li {
    list-style: none;
}
.ursa-seeds .ursa-seeds-nav.float-right ul li a {
    font-size: 12px;
    text-decoration: none;
}
.ursa-seeds .ursa-seeds-nav.float-right ul li a > i {
    float: right;
    margin-top: 5px;
    font-size: 16px;
    padding-left: 5px;
}
.ursa-seeds .seed-cards {
    padding: 20px;
}
.ursa-seeds .seed-cards .seed-card {
    background: #fff;
    border-radius: 4px;
    border-right: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    margin-bottom: 20px;
}
.ursa-seeds .seed-cards .seed-card .seed-image {
    border-radius: 4px;
    overflow: hidden;
    width: 150px;
    float: left;
    padding: 20px 0 20px 20px;
}
.ursa-seeds .seed-cards .seed-card .seed-image img {
    width: inherit;
}
.ursa-seeds .seed-cards .seed-card .seed-details {
    float: left;
    width: 400px;
    margin-left: 20px;
    padding: 20px 0;
}
.ursa-seeds .seed-cards .seed-card .seed-details p.title {
    font-size: 16px;
    margin: 0 0 1px 0;
}
.ursa-seeds .seed-cards .seed-card .seed-details p.subtitle {
    font-size: 12px;
    color: #c6c6c6;
    margin: 0 0 15px 0;
}
.ursa-seeds .seed-cards .seed-card .seed-details p.subtitle a {
    color: #007bff;
}
.ursa-seeds .seed-cards .seed-card .seed-details p.description {
    color: #a6a6a6;
    font-size: 12px;
}
.ursa-seeds .seed-cards .seed-card .seed-info {
    float: right;
    padding: 20px 20px 0 0;
}
.ursa-seeds .seed-cards .seed-card .seed-info .seed-badge {
    background: #c3c3c3;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 20px 3px 20px;
}
.ursa-seeds .seed-cards .seed-card .seed-info .seed-created {
    font-size: 12px;
    padding-top: 5px;
    text-align: center;
}
.ursa-seeds .seed-cards .seed-card .seed-footer {
    background: #f3f3f3;
    padding: 10px 20px;
    font-size: 12px;
}
.ursa-seeds .seed-cards .seed-card .seed-footer .seed-channels {
    float: left;
}
.ursa-seeds .seed-cards .seed-card .seed-footer .seed-channels a {
    text-decoration: none;
    color: #007bff;
}
.ursa-seeds .seed-cards .seed-card .seed-footer .seed-edit {
    float: right;
}
.ursa-seeds .seed-cards .seed-card .seed-footer .seed-edit a {
    text-decoration: none;
}

/*
* Associations
*/
.ursa-associations {
    background: #ebebeb;
    padding: 30px 10px;
    border-radius: 4px;
}
.ursa-associations .ursa-associations-nav.float-left {
    margin-bottom: 20px;
}
.ursa-associations .ursa-associations-nav.float-left ul {
    padding: 0;
    margin: 0;
}
.ursa-associations .ursa-associations-nav.float-left ul li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
    border-right: 1px solid #c9c9c9;
}
.ursa-associations .ursa-associations-nav.float-left ul li:first-child {
    border: none;
}
.ursa-associations .ursa-associations-nav.float-left ul li:last-child {
    border: none;
}
.ursa-associations .ursa-associations-nav.float-left ul li:hover a,
.ursa-associations .ursa-associations-nav.float-left ul li.active a,
.ursa-associations .ursa-associations-nav.float-right ul li:hover a,
.ursa-associations .ursa-associations-nav.float-right ul li.active a {
    color: #0084ff;
}
.ursa-associations .ursa-associations-nav.float-left ul li a {   
    text-decoration: none;
    display: block;
}
.ursa-associations .ursa-associations-nav.float-left ul li a:hover {
    color: #0084ff;
}
.ursa-associations .ursa-associations-nav.float-right ul {
    padding: 0;
    margin: 0 30px 0 0;
}
.ursa-associations .ursa-associations-nav.float-right ul li {
    list-style: none;
}
.ursa-associations .ursa-associations-nav.float-right ul li a {
    font-size: 12px;
    text-decoration: none;
}
.ursa-associations .ursa-associations-nav.float-right ul li a > i {
    float: right;
    margin-top: 5px;
    font-size: 16px;
    padding-left: 5px;
}
.ursa-associations .association-cards {
    padding: 20px;
}
.ursa-associations .association-cards .card-heading {
    font-size: 12px;
    margin-bottom: 10px;
}
.ursa-associations .association-cards .card-heading div {
    display: inline-block;
}
.ursa-associations .association-cards .card-heading .head-name {
    margin-left: 70px;
}
.ursa-associations .association-cards .card-heading .head-link {
    margin-left: 198px;
}
.ursa-associations .association-cards .card-heading .head-type {
    margin-left: 160px;
}
.ursa-associations .association-cards .association-card {
    background: #fff;
    border-radius: 4px;
    border-bottom: 1px solid #bbbbbb;
    margin-bottom: 5px;
}
.ursa-associations .association-cards .association-card .association-image {
    float: left;
    padding: 20px;
    background: #3c87cc;
    color: #fff;
    font-size: 25px;
    border-radius: 4px;
}   
.ursa-associations .association-cards .association-card .association-details {
    float: left;
    width: 250px;
    margin-left: 10px;
}
.ursa-associations .association-cards .association-card .association-details p.title {
    font-size: 14px;
    margin: 10px 0 5px 0;
}
.ursa-associations .association-cards .association-card .association-details p.description {
    font-size: 10px;
    color: #bbb;
    margin: 0;
}
.ursa-associations .association-cards .association-card .association-links {
    float: left;
    width: 130px;
    margin: 15px 0 0 30px;
    font-size: 11px;
}
.ursa-associations .association-cards .association-card .association-links a {
    color: #007bff;
}
.ursa-associations .association-cards .association-card .association-links span {
    color: #969696;
}
.ursa-associations .association-cards .association-card .association-links span > span {
    color: #429d46;
}
.ursa-associations .association-cards .association-card .association-type {
    float: left;
    width: 90px;
    margin: 27px 0 0 70px;
    font-size: 10px;
    text-transform: uppercase;
    background: #c3c3c3;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    padding: 4px;
}
.ursa-associations .association-cards .association-card .association-settings {
    float: right;
    width: 25px;
    margin: 29px 15px 0 0;
    font-size: 16px;
}
.ursa-associations .association-cards .association-card .association-settings a {
    color: #a4a4a4;
    text-decoration: none;
}

/*
* Credentials
*/
.ursa-credentials {
    background: #ebebeb;
    padding: 30px 10px;
    border-radius: 4px;
}
.ursa-credentials .ursa-credentials-nav.float-left {
    margin-bottom: 20px;
}
.ursa-credentials .ursa-credentials-nav.float-left ul {
    padding: 0;
    margin: 0;
}
.ursa-credentials .ursa-credentials-nav.float-left ul li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
    border-right: 1px solid #c9c9c9;
}
.ursa-credentials .ursa-credentials-nav.float-left ul li:first-child {
    border: none;
}
.ursa-credentials .ursa-credentials-nav.float-left ul li:last-child {
    border: none;
}
.ursa-credentials .ursa-credentials-nav.float-left ul li:hover a,
.ursa-credentials .ursa-credentials-nav.float-left ul li.active a,
.ursa-credentials .ursa-credentials-nav.float-right ul li:hover a,
.ursa-credentials .ursa-credentials-nav.float-right ul li.active a {
    color: #0084ff;
}
.ursa-credentials .ursa-credentials-nav.float-left ul li a {   
    text-decoration: none;
    display: block;
}
.ursa-credentials .ursa-credentials-nav.float-left ul li a:hover {
    color: #0084ff;
}
.ursa-credentials .ursa-credentials-nav.float-right ul {
    padding: 0;
    margin: 0 30px 0 0;
}
.ursa-credentials .ursa-credentials-nav.float-right ul li {
    list-style: none;
}
.ursa-credentials .ursa-credentials-nav.float-right ul li a {
    font-size: 12px;
    text-decoration: none;
}
.ursa-credentials .ursa-credentials-nav.float-right ul li a > i {
    float: right;
    margin-top: 5px;
    font-size: 16px;
    padding-left: 5px;
}
.ursa-credentials .credentials-cards {
    padding: 20px;
}
.ursa-credentials .credentials-card {
    float: left;
    background: #fff;
    border-radius: 4px;
    border-bottom: 1px solid #b8b8b8;
    width: 240px;
    margin: 0 10px 10px 0;
    text-align: center;
}
.ursa-credentials .credentials-card:nth-child(3n) {
    margin-right: 0;
}
.ursa-credentials .credentials-card .card-image {
    padding: 20px 0;
}
.ursa-credentials .credentials-card .card-image img {
    width: 80px;
}
.ursa-credentials .credentials-card .card-details {
    padding: 0 20px;
}
.ursa-credentials .credentials-card .card-details p.title {
    font-size: 14px;
    margin: 0;
}
.ursa-credentials .credentials-card .card-details p.subtitle {
    font-size: 12px;
    margin: 0 0 20px 0;
}
.ursa-credentials .credentials-card .card-details p.description {
    font-size: 12px;
    text-align: left;
    color: #a6a6a6;
}
.ursa-credentials .credentials-card .card-details p.description a {
    color: #007bff;
}
.ursa-credentials .credentials-card .card-details p.description a > i {
    font-size: 8px;
}
.ursa-credentials .credentials-card .card-foot {
    background: #f3f3f3;
    padding: 10px;
    border-radius: 0 0 4px 4px;
    font-size: 14px;
}
.ursa-credentials .credentials-card .card-foot a {
    color: #a4a4a4;
    text-decoration: none;
}
.ursa-credentials .credentials-card .card-foot a.credential-edit {
    float: right;
}
.ursa-credentials .credentials-card .card-foot a.credential-open {
    float: left;
}

/*
* Plugin Overrides
*/
.bootstrap-tagsinput {
    border: 1px solid #d1d3d4;
    box-shadow: none;
    font-size: 12px;
}
.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: white;
    background: #636363;
    font-size: 12px;
    padding: 5px 7px;
    border-radius: 5px;
    margin-top: 10px;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
    background: #cccccc;
    border-radius: 100%;
    padding: 1px 3px;
}

/*
* Bootstrap Overrides
*/
.modal-content .modal-header {
    padding: 10px 15px 7px 10px;
}
.modal-content .modal-header h5.modal-title {
    font-size: 14px;
}
.modal-content .modal-header button {
    font-size: 16px;
}
.modal-content .modal-body {

}
.modal-content .modal-footer {
    padding: 10px;
}
.modal-content .modal-footer button.btn.btn-primary.btn-ursa-primary {
    background: #3c87cc;
    font-size: 12px;
    padding: 5px 20px;
}
.modal-content .modal-footer button.btn.btn-success.btn-ursa-success {
    background: #30a64a;
    font-size: 12px;
    padding: 5px 20px;
}
.modal-content .modal-footer button.btn.btn-danger.btn-ursa-danger {
    background: #dc3545;
    border-color: #dc3545;
    font-size: 12px;
    padding: 5px 20px;
}
.modal-content .modal-footer button.btn.btn-default.btn-ursa-default {
    background: #c0c0c0;
    border-color: #c0c0c0;
    font-size: 12px;
    padding: 5px 20px;
}
.modal-content .modal-footer button.btn.btn-primary.btn-ursa-primary:focus,
.modal-content .modal-footer button.btn.btn-primary.btn-ursa-primary:active,
.modal-content .modal-footer button.btn.btn-primary.btn-ursa-success:focus,
.modal-content .modal-footer button.btn.btn-primary.btn-ursa-success:active,
.modal-content .modal-footer button.btn.btn-danger.btn-ursa-danger:focus,
.modal-content .modal-footer button.btn.btn-danger.btn-ursa-danger:active,
.modal-content .modal-footer button.btn.btn-default.btn-ursa-default:focus,
.modal-content .modal-footer button.btn.btn-default.btn-ursa-default:active {
    outline: none !important;
    box-shadow: none;
}
.form-group label {
    font-size: 12px;
    margin: 0;
}
.form-group .form-control {
    font-size: 14px;
}
.form-group .form-control:focus,
.form-group .form-control:active {
    outline: none !important;
    box-shadow: none;
}
button.btn.btn-primary.btn-ursa-primary {
    background: #3c87cc;
    font-size: 12px;
    padding: 5px 20px;
}
button.btn.btn-danger.btn-ursa-danger {
    background: #dc3545;
    border-color: #dc3545;
    font-size: 12px;
    padding: 5px 20px;
}
button.btn.btn-default.btn-ursa-default {
    background: #c0c0c0;
    border-color: #c0c0c0;
    font-size: 12px;
    padding: 5px 20px;
}
button.btn.btn-primary.btn-ursa-primary:focus,
button.btn.btn-primary.btn-ursa-primary:active,
button.btn.btn-danger.btn-ursa-danger:focus,
button.btn.btn-danger.btn-ursa-danger:active,
button.btn.btn-default.btn-ursa-default:focus,
button.btn.btn-default.btn-ursa-default:active {
    outline: none !important;
    box-shadow: none;
}

/*
* Preloader
*/
.preloader-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: #333;
  
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}
  
@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}
  
@keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

.app-preloader-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999999;
    transform: translate(-50%, -50%);
}

.app-preloader-spinner-overlay {
    background: rgba(255, 255, 255, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999998;
}

/*
* Misc
*/
.ghost {
    display: none !important;
}

.content .no-data {
    background: #fff;
    padding: 20px 0;
    border-radius: 4px;
    text-align: center;
}
.content .no-data p a {
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
}

.media-icons label {
    display: inline-block;
}
.media-icons label input {
    display: none;
}
.media-icons label input[type=radio]:checked + img {
    background: #f0f0f0;
}
.media-icons img {
    width: 100px;
    padding: 5px;
    margin: 2px;
    cursor: pointer;
    border-radius: 4px;
}
.media-icons img:hover {
    background: #f0f0f0;
}

.tab-action {
    margin-top: 20px;
}
.tab-action button {
    font-size: 12px;
    float: right;
}

.error-input:before {
    content: '*';
}
.error-input {
    font-size: 12px;
    color: #ff0000;
    padding: 2px 0 0 5px;
}
.add-message-command {
    text-align: right;
    padding: 20px 20px 0;
}

button.ursa-tab-remove {
    background: none;
    border: none;
    color: #666;
    font-size: 12px;
    /* border-radius: 100%; */
    font-weight: bold;
    /* position: absolute; */
    /* top: 0; */
    /* right: 0; */
    margin: 0px -10px 0px 5px;
    display: none;
}

button.help-button {
    background: #7BA0C1;
    border: none;
    color: #fff;
    font-size: 8px;
    padding: 5px 7px 3px 5px;
    border-radius: 100%;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.help-modal p {
    font-size: 12px;
}

#editmessagemodal form ul {
    margin: 0;
    padding: 0;
}
#editmessagemodal form ul li {
    list-style: none;
    display: block;
    margin: 0 0 5px  0;
}
form input {
    font-size: 10px;
}

input.form-control.input-text {
    width: 95%;
    float: left;
}
a.input-remove {
    width: 5%;
    float: right;
    text-decoration: none;
    padding: 5px 0 5px 10px;
}
.message-modal-note {
    font-size: 14px;
    font-weight: bold;
}
.feature-container {
    background: #fff;
    padding: 10px;
    font-size: 12px;
}