<div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab" *ngIf="is_content_loading">
    <p>loading content...</p>
</div>

<div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab" *ngIf="!is_content_loading">

    <div class="persona-details">
        <button type="button" class="help-button" data-toggle="modal" data-target="#personahelpmodal">&nbsp;<i class="fa fa-question"></i></button>
        <img *ngIf="persona?.media_icon" [src]="persona?.media_icon" alt="" class="persona-photo">
        <p class="personal-label">
            Persona {{ persona?.persona_number }}
        </p>
        <p class="personal-name">
            {{ persona?.first_name + ' ' + persona?.last_name }}
        </p>
        <p class="personal-description">
            <strong>Primary Driver: </strong>
            {{ persona?.description }}
        </p>
        <span class="clearfix"></span>
    </div>

    <div class="demographics">
        <div class="demographics-content">
            <button type="button" class="help-button" data-toggle="modal" data-target="#demographichelpmodal">&nbsp;<i class="fa fa-question"></i></button>
            <p class="title">Demographics</p>
            <a href="javascript:void(0)" class="save-cmd-right" data-toggle="modal" data-target="#editdemographicmodal">
                <i class="fa fa-pencil-alt"></i>&nbsp;
            </a>
            <div class="sliderbars">
                <label>
                    Gender
                    <input type="range" min="1" max="100" [value]="e_gender" class="slider" disabled readonly>
                </label>
                <label>
                    Age
                    <input type="range" min="1" max="100" [value]="e_age" class="slider" disabled readonly>
                </label>
                <label>
                    Income
                    <input type="range" min="1" max="100" [value]="e_income" class="slider" disabled readonly>
                </label>
                <label>
                    Education
                    <input type="range" min="1" max="100" [value]="e_education" class="slider" disabled readonly>
                </label>
            </div>
        </div>
        <div class="psychology-content">
            <button type="button" class="help-button" data-toggle="modal" data-target="#psychologyhelpmodal">&nbsp;<i class="fa fa-question"></i></button>
            <p class="title">Psychology</p>
            <a href="javascript:void(0)" class="save-cmd-right" data-toggle="modal" data-target="#editpsychologymodal">
                <i class="fa fa-pencil-alt"></i>&nbsp;
            </a>
            <div class="sliderbars">
                <label>
                    Needs
                    <input type="range" min="1" max="100" [value]="e_needs" class="slider" disabled readonly>
                </label>
                <label>
                    Values
                    <input type="range" min="1" max="100" [value]="e_values" class="slider" disabled readonly>
                </label>
                <label>
                    Worldview
                    <input type="range" min="1" max="100" [value]="e_worldview" class="slider" disabled readonly>
                </label>
                <label>
                    Technicality
                    <input type="range" min="1" max="100" [value]="e_technicality" class="slider" disabled readonly>
                </label>
            </div>
        </div>
    </div>

    <div class="pain">
        <div class="pain-content">
            <button type="button" class="help-button" data-toggle="modal" data-target="#painhelpmodal">&nbsp;<i class="fa fa-question"></i></button>
            <p class="title">Pain</p>
            <a [ngClass]="{ 'ghost':!has_pain_changes }" href="javascript:void(0)" class="save-cmd-right" (click)="updatePain()">
                <i class="fa fa-save"></i>&nbsp;
            </a>
            <input type="text" class="tags" name="e_pain" [(ngModel)]="e_pain" data-role="tagsinput">
        </div>
        <div class="desire-content">
            <button type="button" class="help-button" data-toggle="modal" data-target="#desirehelpmodal">&nbsp;<i class="fa fa-question"></i></button>
            <p class="title">Desire</p>
            <a [ngClass]="{ 'ghost':!has_desire_changes }" href="javascript:void(0)" class="save-cmd-right" (click)="updateDesire()">
                <i class="fa fa-save"></i>&nbsp;
            </a>
            <input type="text" class="tags" name="e_desire" [(ngModel)]="e_desire" data-role="tagsinput">
        </div>
    </div>
    <div class="assumptions">
        <div class="assumptions-content">
            <button type="button" class="help-button" data-toggle="modal" data-target="#assumptionhelpmodal">&nbsp;<i class="fa fa-question"></i></button>
            <p class="title">Assumptions</p>
            <a [ngClass]="{ 'ghost':!has_assumption_changes }" href="javascript:void(0)" class="save-cmd-right" (click)="updateAssumption()">
                <i class="fa fa-save"></i>&nbsp;
            </a>
            <input type="text" class="tags" name="e_assumption" [(ngModel)]="e_assumption" data-role="tagsinput">                                    
        </div>
        <div class="keywords-content">
            <button type="button" class="help-button" data-toggle="modal" data-target="#keywordhelpmodal">&nbsp;<i class="fa fa-question"></i></button>
            <p class="title">Keywords</p>
            <a [ngClass]="{ 'ghost':!has_keyword_changes }" href="javascript:void(0)" class="save-cmd-right" (click)="updateKeyword()">
                <i class="fa fa-save"></i>&nbsp;
            </a>
            <input type="text" class="tags" name="e_keywords" [(ngModel)]="e_keywords" data-role="tagsinput">
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>

    <a href="javascript:void(0)" class="edit-cmd" data-toggle="modal" data-target="#editpersonamodal"><i class="fa fa-pencil-alt"></i>&nbsp;</a>
</div>

<!-- Modal -->
<div class="modal fade" id="editpersonamodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Persona Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <form>
                    <div class="form-group">
                        <label>Media Icon *</label>
                        <div class="error-input" *ngIf="errors && errors['e_media_icon']">
                            Please select media icon
                        </div>
                        <!-- <button type="button" class="btn btn-sm btn-primary btn-ursa-primary">Select Media Icon</button>
                        <input type="hidden" [(ngModel)]="media_icon"> -->
                        <div class="media-icons" *ngIf="images && images.length > 0">
                            <label *ngFor="let image of images">
                                <input type="radio" name="e_media_icon" [(ngModel)]="e_media_icon" value="{{ image?.id }}" checked="checked" [attr.data-value]="persona?.media_icon_id" *ngIf="image?.id == persona?.media_icon_id">
                                <input type="radio" name="e_media_icon" [(ngModel)]="e_media_icon" value="{{ image?.id }}" [attr.data-value]="persona?.media_icon_id" *ngIf="image?.id != persona?.media_icon_id">
                                <img [src]="image?.image" alt="">
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="e_descriptor_id">Descriptor *</label>
                        <select class="form-control" id="e_descriptor_id" name="e_descriptor_id" [(ngModel)]="e_descriptor_id">
                            <option value="">Choose Descriptor</option>
                            <option *ngFor="let descriptor of descriptors" value="{{ descriptor?.id }}">{{ descriptor?.name }}</option>
                        </select>
                        <div class="error-input" *ngIf="errors && errors['e_descriptor_id']">
                            Descriptor field is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="e_role_id">Role *</label>
                        <select class="form-control" id="e_role_id" name="e_role_id" [(ngModel)]="e_role_id">
                            <option value="">Choose Role</option>
                            <option *ngFor="let role of roles" value="{{ role?.id }}">{{ role?.name }}</option>
                        </select>
                        <div class="error-input" *ngIf="errors && errors['e_role_id']">
                            Role field is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="e_description">Primary Driver *</label>
                        <textarea class="form-control" id="e_description" name="e_description" [(ngModel)]="e_description" rows="5" placeholder="Enter Primary Driver Here"></textarea>
                        <div class="error-input" *ngIf="errors && errors['e_description']">
                            Primary Driver field is required
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-ursa-danger" (click)="setDeletePersona($event)">Delete</button>
                <button type="button" class="btn btn-primary btn-ursa-primary" (click)="updatePersona()">Update</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editdemographicmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Demographic Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <form>
                    <div class="form-group">
                        <label for="e_gender">Gender</label>
                        <input type="range" min="1" max="100" id="e_gender" name="e_gender" [(ngModel)]="e_gender" class="form-control-range slider">
                    </div>
                    <div class="form-group">
                        <label for="e_age">Age</label>
                        <input type="range" min="1" max="100" id="e_age" name="e_age" [(ngModel)]="e_age" class="form-control-range slider">
                    </div>
                    <div class="form-group">
                        <label for="e_income">Income</label>
                        <input type="range" min="1" max="100" id="e_income" name="e_income" [(ngModel)]="e_income" class="form-control-range slider">
                    </div>
                    <div class="form-group">
                        <label for="e_education">Education</label>
                        <input type="range" min="1" max="100" id="e_education" name="e_education" [(ngModel)]="e_education" class="form-control-range slider">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-ursa-primary" (click)="updateDemographics()">Update</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editpsychologymodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Psychology Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <form>
                    <div class="form-group">
                        <label for="e_gender">Needs</label>
                        <input type="range" min="1" max="100" id="e_needs" name="e_needs" [value]="e_needs" [(ngModel)]="e_needs" class="form-control-range slider">
                    </div>
                    <div class="form-group">
                        <label for="e_age">Values</label>
                        <input type="range" min="1" max="100" id="e_values" name="e_values" [value]="e_values" [(ngModel)]="e_values" class="form-control-range slider">
                    </div>
                    <div class="form-group">
                        <label for="e_income">Worldview</label>
                        <input type="range" min="1" max="100" id="e_worldview" name="e_worldview" [value]="e_worldview" [(ngModel)]="e_worldview" class="form-control-range slider">
                    </div>
                    <div class="form-group">
                        <label for="e_education">Technicality</label>
                        <input type="range" min="1" max="100" id="e_technicality" name="e_technicality" [value]="e_technicality" [(ngModel)]="e_technicality" class="form-control-range slider">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-ursa-primary" (click)="updatePsychology()">Update</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deletepersonamodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Are you sure you want to delete this Persona?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-ursa-danger" (click)="delete(persona?.id)">Delete</button>
                <button type="button" class="btn btn-default btn-ursa-default" (click)="closeDeleteModal()">Close</button>
            </div>
        </div>
    </div>
</div>

<app-persona-help-modal></app-persona-help-modal>