<app-preloader></app-preloader>
<!-- TOP BAR -->
<nav class="navbar navbar-expand-lg navbar-light ursa-topbar">
  <div class="container">
      <a class="navbar-brand logo" [routerLink]="['/']">
          <img src="../assets/images//uma-logo-white_160x40-150x40.png" alt="ursa minor">
      </a>
  </div>
</nav>

<!-- TOP NAV -->
<nav class="navbar navbar-expand-lg navbar-light ursa-navbar">
  <div class="container">
      <a class="navbar-brand logo company-logo" [routerLink]="['/']">
          <img src="../assets/images/company_logo.png">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
              <li class="app-name">Brand Strategy Framework</li>
          </ul>
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="#">Help</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Account</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Log Out</a>
              </li>
          </ul>
      </div>
  </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            
            <!-- SIDEBAR NAV -->
            <div class="ursa-sidebar-left">
                <ul class="sidenavs">
                    <li [routerLinkActive]="'active'">
                        <a [routerLink]="['/audience']"><i class="fa fa-users"></i> Audience</a>
                    </li>
                    <li [routerLinkActive]="'active'">
                        <a [routerLink]="['/messages']"><i class="fa fa-envelope"></i> Messages</a>
                    </li>
                    <li [routerLinkActive]="'active'">
                        <a [routerLink]="['/offers']"><i class="fa fa-hand-holding"></i> Offers</a>
                    </li>
                    <li [routerLinkActive]="'active'">
                        <a [routerLink]="['/imagery']"><i class="fa fa-eye"></i> Imagery</a>
                    </li>
                    <li [routerLinkActive]="'active'">
                        <a [routerLink]="['/seeds']"><i class="fa fa-seedling"></i> Seeds</a>
                    </li>
                    <li [routerLinkActive]="'active'">
                        <a [routerLink]="['/associations']"><i class="fa fa-object-group"></i> Associations</a>
                    </li>
                    <li [routerLinkActive]="'active'">
                        <a [routerLink]="['/credentials']"><i class="fa fa-check-circle"></i> Credentials</a>
                    </li>
                </ul>
            </div>
            
            <div class="ursa-contentbox">

                <router-outlet></router-outlet>

            </div>

        </div>
    </div>
</div>

<footer>
    
</footer>