<h2 class="content-heading"><i class="fa fa-envelope"></i> Messages</h2>
    <div class="content-description">
        Messages are the fundamental core descriptions that define your brand's essence
    </div>
    <div class="clearfix"></div>
    <div class="content ursa-messages">

        <nav class="ursa-message-nav">
            <ul>
                <li *ngFor="let type of types" [routerLinkActive]="'active'">
                    <a href="javascript:void(0)" [routerLink]="['type', type?.id]">{{ type?.name }}</a>
                </li>
            </ul>
        </nav>

        <router-outlet></router-outlet>

    </div>