<h2 class="content-heading"><i class="fa fa-hand-holding"></i> Offers</h2>
<div class="content-description">
    Offers are to call-to-action. They invited your audience to engage through a progression of increasing interest or commitment. Offers establish the tone and structure of your value propositions in a clear and compelling manner.
</div>
<div class="clearfix"></div>
<div class="content ursa-offers">

    <nav class="ursa-offers-nav float-left">
        <ul>
            <li *ngFor="let category of categories" [routerLinkActive]="'active'">
                <a href="javascript:void(0)" [routerLink]="['/offers/category', category?.id]">{{ category?.name }}</a>
            </li>
        </ul>
    </nav>

    <nav class="ursa-offers-nav float-right">
        <ul>
            <li>
                <a href="#" data-toggle="modal" data-target="#addoffermodal"><i class="fa fa-plus-circle"></i> Add Offer</a>
            </li>
        </ul>
    </nav>

    <div class="clearfix"></div>

    <router-outlet></router-outlet>
</div>